## Tuple Creation

Tuples are immutable and ordered collections. You can create them using parentheses `()` or just commas.

In [ ]:
# Empty tuple
t1 = ()

# Tuple with elements
t2 = (1, 2, 3)

# Tuple with different data types
t3 = (1, "hello", 3.14)

# Nested tuple
t4 = (1, (2, 3), [4, 5])

# Without parentheses (tuple packing)
t5 = 1, 2, 3

t1, t2, t3, t4, t5

## Indexing

Access individual elements using square brackets `[]` with zero-based indexing.

In [ ]:
t = (10, 20, 30)
first = t[0]
last = t[-1]

first, last

## Slicing

Retrieve a subrange using slice notation `[start:end:step]`.

In [ ]:
t = (10, 20, 30, 40, 50)
part = t[1:4]
reverse = t[::-1]

part, reverse

## Concatenation

You can concatenate two tuples using the `+` operator.

In [ ]:
a = (1, 2)
b = (3, 4)
c = a + b

c

## Repetition

Repeat a tuple multiple times using the `*` operator.

In [ ]:
a = (1, 2)
repeated = a * 3

repeated

## Membership Test

Use `in` and `not in` to test for existence of an element in a tuple.

In [ ]:
t = (1, 2, 3)
result1 = 2 in t
result2 = 5 not in t

result1, result2

## Iteration

Tuples can be iterated using a `for` loop just like lists.

In [ ]:
t = (1, 2, 3)
for item in t:
    print(item)

## len()

Returns the number of elements in a tuple.

In [ ]:
t = (1, 2, 3)
length = len(t)

length

## max()

Returns the largest item in the tuple.

In [ ]:
t = (5, 1, 9, 4)
maximum = max(t)

maximum

## min()

Returns the smallest item in the tuple.

In [ ]:
t = (5, 1, 9, 4)
minimum = min(t)

minimum

## sum()

Returns the total of numeric elements in the tuple.

In [ ]:
t = (1, 2, 3)
total = sum(t)

total

## any()

Returns `True` if at least one element is truthy.

In [ ]:
t = (0, False, 5)
result = any(t)

result

## all()

Returns `True` only if all elements are truthy.

In [ ]:
t1 = (1, 2, 3)
t2 = (1, 0, 3)

res1 = all(t1)
res2 = all(t2)

res1, res2

## sorted()

Returns a sorted list of the tuple elements (does not modify the original tuple).

In [ ]:
t = (3, 1, 2)
sorted_list = sorted(t)

sorted_list

## tuple()

Used to convert other iterable objects (like lists) into tuples.

In [ ]:
l = [1, 2, 3]
t = tuple(l)

t

## count()

Returns the number of times a value appears in the tuple.

In [ ]:
t = (1, 2, 1, 3, 1)
count_1 = t.count(1)

count_1

## index()

Returns the first index of the value passed. Raises `ValueError` if not found.

In [ ]:
t = (10, 20, 30, 20)
index_20 = t.index(20)

index_20

## Packing and Unpacking

Tuples can be packed with multiple values and unpacked into variables.

In [ ]:
# Packing
t = 1, 2, 3

# Unpacking
a, b, c = t

a, b, c

## Nested Tuple Access

Tuples can contain other tuples or lists. Access nested elements using multiple indices.

In [ ]:
t = (1, (2, 3), [4, 5])
nested_tuple_element = t[1][1]
nested_list_element = t[2][0]

nested_tuple_element, nested_list_element

## Immutability

Tuples are immutable. You cannot modify their elements after creation.

In [ ]:
t = (1, 2, 3)
# Uncommenting below will raise TypeError
# t[0] = 10

"Tuples are immutable, so you can't change their contents."